# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
docs/
.tmp_pdf/
tests/
app/tests/
!app/tests/
app/tests/*
!app/tests/test_seed_test_accounts.py

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
mirrai.db
media/
storage/
staticfiles/
server_log.txt

# Virtual Environment
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# front feedback
!front_feedback/
!front_feedback/**
front_feedback/**/past/
front_feedback/from_front/
front_feedback/to_backend/
